* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  body {
    margin-left: 15px;
    margin-right: 15px;
  }
  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  section {
    padding: 15px;
    width: 90%;
  }

  p {
    clear: right;
  }

  div {
    background-color: gray;
    border: 1px solid black;
    width: 100%;
    padding: 6px;
  }

  .menu-title {
    float: right;
    width: 100px;
    padding: 5px;
    text-align: center;
    margin: -7px -7px 0px;
    margin-bottom: 4px;
    font-size: 125%;
    font-weight: bold;
    border: 1px solid black;
  }

  .menu-title#chicken {
    background-color: #d59898;
  }

  .menu-title#beef {
    background-color: #c14643;
    color: white;
  }

  .menu-title#sushi {
    background-color: #e5d198;
  }

  .menu-description {
    padding: 5px;
    margin: 3px;
    overflow: auto;
  }

  @media (min-width: 992px) {
    .col-lg-4 {
      float: left;
      width: 33.33%;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,
    .col-md-12 {
      float: left;
    }

    .col-md-6 {
      width: 50%;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    .col-sm-12 {
      float: left;
      width: 100%;
    }
  }